binds {
  // WINDOW FOUCUS (VIM)
  Mod+H   { focus-column-left; }
  Mod+J   { focus-window-down; }
  Mod+K   { focus-window-up; }
  Mod+L   { focus-column-right; }




  // WINDOW MOVEMENT (VIM)
  Mod+Shift+H   { move-column-left; }
  Mod+Shift+J   { move-window-down; }
  Mod+Shift+K   { move-window-up; }
  Mod+Shift+L   { move-column-right; }
}

