prefer-no-csd
layout {
  gaps 8

  center-focused-column "never"
  always-center-single-column

  focus-ring {
    width 2
    active-color "#8ea4a2cc"
    inactive-color "#18161699"
  }

  shadow {
    softness 50
    spread 0
    offset x=0 y=8
    color "#00000099"
  }
}

blur {
    passes 5
    offset 4.5
    noise 0.015
    saturation 1.3
}
